In [18]:
import pandas as pd
import matplotlib.pyplot as plt

In [19]:
uriage = pd.read_csv('./chapter02/uriage.csv')
kokyaku = pd.read_excel('./chapter02/kokyaku_daicho.xlsx')

In [20]:
uriage.head()

         purchase_date item_name  item_price customer_name
0  2019-06-13 18:02:34       商品A       100.0         深井菜々美
1  2019-07-13 13:05:29     商 品 S         NaN          浅田賢二
2  2019-05-11 19:42:07     商 品 a         NaN          南部慶二
3  2019-02-12 23:40:45       商品Z      2600.0          麻生莉緒
4  2019-04-22 03:09:35       商品a         NaN          平田鉄二

In [25]:
uriage['purchase_date_dtype'] = pd.to_datetime(uriage['purchase_date'])
uriage['purchase_month'] = uriage['purchase_date_dtype'].dt.strftime('%Y%m')
res = uriage.pivot_table(index='purchase_month',columns='item_name',aggfunc='size',fill_value=0)
res

item_name,商品A,商品B,商品C,商品D,商品E,商品F,商品G,商品H,商品I,商品J,...,商品Q,商品R,商品S,商品T,商品U,商品V,商品W,商品X,商品Y,商品Z
purchase_month,,,,,,,,,,,,,,,,,,,,,
201901,18,13,19,17,18,15,11,16,18,17,...,17,21,20,17,7,22,13,14,10,0
201902,19,14,26,21,16,14,14,17,12,14,...,22,22,22,23,19,22,24,16,11,1
201903,17,21,20,17,9,27,14,18,12,16,...,23,16,20,12,23,18,16,21,16,0
201904,17,19,24,20,18,17,14,11,18,13,...,20,20,16,16,11,15,14,16,20,0
201905,24,14,16,14,19,18,23,15,16,11,...,13,22,18,16,16,9,21,16,20,0
201906,24,12,11,19,13,18,15,13,19,22,...,15,16,21,12,18,20,17,15,13,0
201907,20,20,17,17,12,17,19,19,19,23,...,15,19,23,21,13,28,16,18,12,0

In [6]:
kokyaku.head()

      顧客名        かな  地域                     メールアドレス         登録日
0   須賀ひとみ    すが ひとみ  H市     suga_hitomi@example.com  2018/01/04
1  岡田　 敏也   おかだ としや  E市   okada_toshiya@example.com       42782
2    芳賀 希    はが のぞみ  A市     haga_nozomi@example.com  2018/01/07
3   荻野  愛    おぎの あい  F市        ogino_ai@example.com       42872
4   栗田 憲一  くりた けんいち  E市  kurita_kenichi@example.com       43127

In [24]:
print(len(pd.unique(uriage["item_name"])))

26

In [23]:
uriage["item_name"] = uriage["item_name"].str.upper().str.replace("　","").str.replace(" ","")

In [29]:
uriage.isnull().any(axis=0)

purchase_date          False
item_name              False
item_price             False
customer_name          False
purchase_date_dtype    False
purchase_month         False
dtype: bool

In [28]:
flg_is_null = uriage["item_price"].isnull()
for trg in list(uriage.loc[flg_is_null,"item_name"].unique()):
    price = uriage.loc[(~flg_is_null)&(uriage["item_name"]== trg),"item_price"].max()
    uriage.loc[(flg_is_null)&(uriage["item_name"]== trg),"item_price"] = price
uriage.head()

,purchase_date,item_name,item_price,customer_name,purchase_date_dtype,purchase_month
0,2019-06-13 18:02:34,商品A,100.0,深井菜々美,2019-06-13 18:02:34,201906
1,2019-07-13 13:05:29,商品S,1900.0,浅田賢二,2019-07-13 13:05:29,201907
2,2019-05-11 19:42:07,商品A,100.0,南部慶二,2019-05-11 19:42:07,201905
3,2019-02-12 23:40:45,商品Z,2600.0,麻生莉緒,2019-02-12 23:40:45,201902
4,2019-04-22 03:09:35,商品A,100.0,平田鉄二,2019-04-22 03:09:35,201904