In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
uriage = pd.read_csv('./chapter02/uriage.csv')
kokyaku = pd.read_excel('./chapter02/kokyaku_daicho.xlsx')

In [15]:
uriage.head()

,purchase_date,item_name,item_price,customer_name,purchase_date_dtype,purchase_month
0,2019-06-13 18:02:34,商品A,100.0,深井菜々美,2019-06-13 18:02:34,201906
1,2019-07-13 13:05:29,商 品 S,NaN,浅田賢二,2019-07-13 13:05:29,201907
2,2019-05-11 19:42:07,商 品 a,NaN,南部慶二,2019-05-11 19:42:07,201905
3,2019-02-12 23:40:45,商品Z,2600.0,麻生莉緒,2019-02-12 23:40:45,201902
4,2019-04-22 03:09:35,商品a,NaN,平田鉄二,2019-04-22 03:09:35,201904

In [14]:
uriage['purchase_date_dtype'] = pd.to_datetime(uriage['purchase_date'])
uriage['purchase_month'] = uriage['purchase_date_dtype'].dt.strftime('%Y%m')
res = uriage.pivot_table(index='purchase_month',columns='item_name',aggfunc='size',fill_value=0)
res

In [6]:
kokyaku.head()

      顧客名        かな  地域                     メールアドレス         登録日
0   須賀ひとみ    すが ひとみ  H市     suga_hitomi@example.com  2018/01/04
1  岡田　 敏也   おかだ としや  E市   okada_toshiya@example.com       42782
2    芳賀 希    はが のぞみ  A市     haga_nozomi@example.com  2018/01/07
3   荻野  愛    おぎの あい  F市        ogino_ai@example.com       42872
4   栗田 憲一  くりた けんいち  E市  kurita_kenichi@example.com       43127